<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pby.gam_study">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <permission
        android:name="com.example.pby.gam_study.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.pby.gam_study.permission.RECEIVE_MSG" />


    <application
        android:name=".GamStudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101557462" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".page.newKind.NewKindActivity" />
        <activity android:name=".page.card.CardActivity" />
        <activity android:name=".page.editCard.EditCardActivity" />
        <activity android:name=".page.editImage.EditImageActivity" />
        <activity android:name=".page.cardDetail.CardDetailActivity" />
        <activity android:name=".page.browseImage.BrowseImageActivity" />
        <activity android:name=".page.dailyCard.DailyCardActivity" />
        <activity android:name=".page.sendPost.SendPostActivity" />
        <activity
            android:name=".page.post.PostActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".page.profile.UserProfileActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".page.chat.ChatActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".page.userlist.UserListActivity" />
        <activity android:name=".page.kind.KindActivity" />
        <activity android:name=".page.setting.SettingActivity" />
        <activity android:name=".page.about.AboutActivity" />
        <activity android:name=".page.modifyUserName.ModifyUserNameActivity" />
        <activity android:name=".page.shareFans.ShareFansActivity" />

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="62a6c7a3aa03c227d48a0c1e63b1073f" />

        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />

        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <service android:name="com.netease.nimlib.service.ResponseService" />

        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.example.pby.gam_study.ipc.provider"
            android:exported="false"
            android:process=":core" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="$application_id.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>